.chessBoard {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 600px;
  position: relative;
}
.square {
  flex: 0 0 12.5%;
  color: white;
  font-weight: bold;

  &.is-black {
    background: black;
  }
  &.is-white {
    background: #505050;
  }
}

.piece {
  background: rgba(124, 12, 74, 0.3);
  width: 12.5%;
  height: 12.5%;
  padding: 30px 5px 0 5px;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}
