.chessBoard {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 600px;
  position: relative;
}
.square {
  flex: 0 0 12.5%;
  color: white;
  font-weight: bold;

  &.is-black {
    background: black;
  }
  &.is-white {
    background: #505050;
  }
}
